//Variables SCSS


  $primary-color: #1266F1;
  $detail-color-1: #FFCC00;
  $bg-light: #F8F8F8;
  $bg-light-extra: #F2F2F2;
  $bg-dark-mode:#1F1F1F;



  //Text colors
  $white-text: #FFFFFF;
  $black-text: #000000;

