<div class="mat">
<mat-tab-group class="mat__group" mat-align-tabs="center">
  <mat-tab class="mat__tab" label="Restricciones por la Covid"><mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Restricciones en España
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="mat__link" target="_blank" href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/spth.htm"><p>Restricciones del Ministerio de Sanidad</p></a>
      <a class="mat__link" target="_blank" href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/spth.htm"><p>Restricciones por CCAA</p></a>
    </mat-expansion-panel>
    <mat-expansion-panel  (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Restricciones por compañía
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="mat__link" target="_blank" href="https://www.iberia.com/es/es/covid-19/restricciones-para-viajar/"><p>Iberia</p></a>
      <a class="mat__link" target="_blank" href="https://www.vueling.com/es/ayuda-para-viajar/restricciones-de-viaje"><p>Vueling</p></a>
      <a class="mat__link" target="_blank" href="https://www.ryanair.com/es/es/informacin-util/covid-19"><p>Ryanair</p></a>
      <a class="mat__link" target="_blank" href="https://www.volotea.com/es/restricciones-sanitarias-de-entrada/"><p>Volotea</p></a>
      <a class="mat__link" target="_blank" href="https://www.easyjet.com/es/covid-19-travel-hub/country-specific-restrictions-and-entry-requirements"><p>EasyJet</p></a>
    </mat-expansion-panel>
  </mat-accordion></mat-tab>
  <mat-tab class="mat__tab" label= "Política de accesibilidad"> <div class="mat__div"><mat-icon>accessible</mat-icon> <a href=""> Consulta nuestra política de accesibilidad </a></div> </mat-tab>
  <mat-tab class="mat__tab-final" label="Gestiona tu reserva"><div class="mat__div">
    <form novalidate class="form" [formGroup]="formRegister">
      <h3>Logéate para ver el estado de tu reserva</h3>
      <mat-form-field class="form__full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Ex. jose@jose.es" >
      </mat-form-field>
      <mat-form-field  class="form__full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput >
      </mat-form-field>
      <app-button [name]="'Login'" class="form__button"></app-button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
</div>
