
<footer class="footer">
  <h4 class="footer__title">
    SÍGUENOS y CONTÁCTANOS
</h4>
<div class="footer__rrss">
  <div class="example-button-container">
    <button mat-mini-fab color="white" aria-label="Example icon button with a home icon">
      <mat-icon>facebook</mat-icon>
    </button>
  </div>
    <button mat-mini-fab color="white" aria-label="Example icon button with a home icon">
      <mat-icon>email</mat-icon>
    </button>
</div>
  <div class="footer__links">
      <div class="footer__content-little">
          <h3>ENLACES DE INTERÉS</h3>
          <p><a href="#">Aviso legal</a></p>
          <p><a href="#">Cookies</a></p>
      </div>
      <div class="footer__content-little">
          <h3>CONTACTA CON FLY</h3>
          <p>UpgradeFly@gmail.es</p>
          <p>29013 - Málaga</p>
      </div>
  </div>
  <p class="footer__end">2021. Todos los derechos reservados &copy;</p>
</footer>

